@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--morning-bg-color: #cffafe; /* Example color for morning */
	--afternoon-bg-color: #ffffff; /* Example color for afternoon */
	--evening-bg-color: #2b2e4a; /* Example color for evening */
	--default-bg-color: #ece9e6; /* Default background color */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
