#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background: rgb(246, 217, 242);
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.wiki-info::-webkit-scrollbar,
.header::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.wiki-info,
.header {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
